# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git_projects_school\b-safer-sprint-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
